<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="textParsers" type="TextHelper.Configuration.TextParserSection, TextHelper" />
  </configSections>
  <textParsers>
    <parsers>
      <add type="Now" library="TextHelper.Text.NowTextParse, TextHelper"></add>
    </parsers>
    <formats>
      <add type="date" library="TextHelper.Format.DateFormat, TextHelper"></add>
      <add type="currency" library="TextHelper.Format.CurrencyFormat, TextHelper"></add>
    </formats>
  </textParsers>
</configuration>